body {
    background-color: #f5f5f5;
}

.small-container {
    padding: 10px;
    width: 99%;
    margin: 10px auto 10px auto;
}

.type-title {
    text-transform: uppercase;
    padding: 8px;
}

.section {
    border: 0 solid black;
    border-radius: 10px;
    padding: 12px;
    background-color: white;
    margin-bottom: 10px;
}