$report-bg-color: #f8f9fa;
$info-color: #17a2b8;

.master {
  padding-top: 10px;
  background-color: $report-bg-color;
}

.full-width {
  width: 100%;
}

#report-header {
  text-align: center;
  padding: 15px;
  font-size: 3.5em;
}

.timestamp {
  .time, .date {
    text-align: center;
  }
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;

  .btn {
    border-radius: 0px !important;
  }
}

#case-details {
  .each-detail {
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    margin: 10px 0px;
  }

  .header {
    background-color: #17a2b8;
    border-radius: 5px;

    h5 {
      color: white;
      padding: 8px;
      text-transform: uppercase;
      text-align: center;
      margin: 0px;
    }
  }

  .header-details {
    .card-title {
      padding: 10px;
      margin: 0px;
    }
  }
}