{% extends 'base.html' %}
{% block content %}
<div class="small-container">
    {% for key, values in data.items() %}
        <div class="section">
        <div>
            <h2 class="type-title"><strong>{{ key }}</strong></h2>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <td></td>
                {% for value in header.values() %}
                    <td><strong>{{ value }}</strong></td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in values %}
            <tr>
                <td>
                    <input aria-label="Check for execution" type="checkbox">
                </td>
                {% for key in header.keys() %}
                    <td>{{ item[key] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}